
:root {
 
    --color-green-1: #1abc9c;
    --color-green-2: #16a085;
    --color-green-3: #2ecc71;
    --color-green-4: #27ae60;
    --color-blue-0: #e1eef6;
    --color-blue-1: #3498db;
    --color-blue-2: #2980b9;
    --color-blue-3: #34495e;
    --color-blue-4: #2c3e50;
    --color-violet-1: #9b59b6;
    --color-violet-2: #8e44ad;
    --color-yellow-1: #ffeaa7;
    --color-yellow-2: #f1c40f;
    --color-orange-1: #f39c12;
    --color-orange-2: #e67e22;
    --color-orange-3: #d35400;
    --color-red-1: #e74c3c;
    --color-red-2: #c0392b;
    --color-red-3: #cf1509;
    --color-grey-1: #f5f6fa;
    --color-grey-2: #bdc3c7;
    --color-grey-3: #95a5a6;
    --color-grey-4: #7f8c8d;
    --color-grey-5: #2d3436;
    --color-grey-6: #636e72;
    --color-grey-7: #88807d;

    --color-white: #ffffff;
    --color-black: #000000;
}

* { 
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-grey-4;
    line-height: 1.6;

    min-height: 100vh;
}