.container {
    max-width: 120rem;
    margin: 0 auto;
}

.home {
    height: 100vh;
    background-image: url("/img/about.jpg");
    background-size: cover;
}

.nav-wrapper {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    z-index: 9999;
}

.nav {
    font-size: 1.5rem;
    color: var(--color-grey-5);
    padding: .8rem;
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--color-white);
    opacity: 0.7;

    display: flex;
    justify-content: space-around;

    &__logo {
        height: 12rem;
        background-image: url("/img/vanity.png");
        background-size: contain;
        background-repeat: no-repeat;
        
        flex: 0 0 20%;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        flex: 0 0 50%;
        align-items: flex-end;
    }

    &__menu-item {
        font-weight: 700;
        color: inherit;
        padding: 0 2rem;
        text-decoration: none;
        transition: all .4s;

        &:hover {
            border-bottom: 1.2rem solid var(--color-grey-2);
        }
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 0;

    & > div {
        background-size: cover;
        background-position: center;
        height: 50rem;
        flex: 0 0 30%;

        box-shadow: .8rem .8rem 1.8rem var(--color-grey-5);
        transition: all .2s;

        &:hover {
            filter: sepia(100%);
            cursor: pointer;
            transform: scale(1.03);
            box-shadow: 1.8rem 1.8rem 2rem var(--color-grey-5);
        }
    }

    &__hair {
        background-image: url("/img/hair-1.jpg");
    }

    &__face {
        background-image: url("/img/face-1.jpg");
    }

    &__nails {
        background-image: url("/img/nails-1.jpg");
    }
}

.footer {
    font-size: 1.4rem;
    height: 20rem;

    background-color: var(--color-grey-5);
}

.nav-large {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: anim-max-nav;
}

.nav-small {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: anim-min-nav;
}

.move-nav-up {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: move-nav-up;
}

.move-nav-down {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: move-nav-down;
}
